@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 30px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-gray-1);
}

input,
label,
button {
    transition-duration: var(--transition-duration);
}


*,
::before,
::after {
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 0;
    margin: 0;
}