.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 404px;
  /*min-height: 365px;*/
  min-height: 429px;
  padding: 24px;
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.todo__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.todo__form {
  display: flex;
  column-gap: 16px;
}

.todo__field {
  width: 100%;
  display: flex;
  gap: 10px;
}

.todo__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
}

.todo__delete-all-button {
  padding: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.todo__delete-all-button:hover{
  color: var(--color-gray-4);
}


.todo__list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}